.wrapper{
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "h h h h"
    "a b b a"
    "f f f f";
}
.header{
  grid-area: h;
}
.aside{
  grid-area: a;
}
.bside{
  grid-area: h;
}
.footer{
  grid-area: f;
}
